@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

html, body {
    font-family: "Roboto", "Segoe UI", "Arial";
    color: #000000;
    background: #f6f7f7 !important; }

.nx-body {
    font-family: "Roboto", "Segoe UI", "Arial";
    color: #000000;
    background: #f6f7f7 !important; }

/* Text styles */
h2 {
    font-family: "Roboto", "Segoe UI", "Arial";
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #000000; }

h1 {
    font-family: "Roboto", "Segoe UI", "Arial";
    font-size: 36px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    color: #000000; }

p {
    font-family: "Roboto", "Segoe UI", "Arial";
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    color: #00417f; }

.p-small {
    font-family: "Roboto", "Segoe UI", "Arial";
    font-size: 18px;
    font-weight: 300;
    line-height: 2.5;
    text-align: right;
    color: #00417f; }

.display-none {
    display: none; }

.nx--clearfix {
    zoom: 1; }
.nx--clearfix:after, .nx--clearfix:before {
    content: "";
    display: table; }
.nx--clearfix:after {
    clear: both; }

.nx--nullify-button, .nx-button {
    background: none;
    border-radius: 0;
    border: none;
    cursor: pointer; }

.nx-button {
    display: block;
    padding: 20px 60px !important;
    background-color: #00417f !important;
    color: #ffffff !important;
    font-family: "Roboto", "Segoe UI", "Arial" !important;
    font-size: 36px !important;
    line-height: 1.5 !important;
    text-align: center !important;
    text-transform: uppercase; }
.nx-button--centered {
    margin: 8px auto; }

.nx-header {
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: #f6f7f7;
    z-index: 100; }
.nx-header .nx-header__top-bar {
    background: #00417f;
    width: 100%;
    height: 111px;
    position: relative; }
.nx-header .nx-header__top-bar .nx-header__logo-left {
    float: left;
    margin-left: 0px;
    margin-top: 20px; }
.nx-header .nx-header__top-bar .nx-header__logo-left svg {
    height: 70px; }
.nx-header .nx-header__top-bar .nx-header__logo-right {
    float: right;
    margin-right: 40px;
    margin-top: 20px; }
.nx-header .nx-header__top-bar .nx-header__logo-right svg {
    height: 80px; }
.nx-header .nx-header__content {
    position: relative;
    width: 50%;
    top: 111px; }
.nx-header .nx-header__content .id-field {
    display: none; }
.nx-header .nx-header__content .date-field {
    display: none; }
.nx-header .nx-header__button {
    margin-top: 24px; }

.nx-cancel {
    position: absolute;
    right: 40px;
    top: 30px; }
.nx-cancel span {
    font-size: 24px;
    font-weight: 300;
    line-height: 65px;
    padding-right: 20px;
    text-align: right;
    color: #00417f;
    display: inline-block; }
.nx-cancel svg {
    display: inline-block;
    float: right;
    width: 40px;
    height: 40px; }

.nx-title {
    margin:auto;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: center; }

.nx-subtitle {
    font-size: 36px;
}

.nx-title_black {
    /*
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top:25px;
    */
    color: #000000; 
    margin-top: 25px;
    display: block; }

.nx-title_gray {
    /* 
    margin-top: 35px;
    margin-bottom: 20px;
    */
    color: #767676;
    margin-top: 5px; }
