@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

html, body { font-family: "Segoe UI", "Arial"; }

.nx-body { font-family: "Segoe UI", "Arial"; }

.display-none {
    display: none; }

.nx--clearfix {
    zoom: 1; }
.nx--clearfix:after, .nx--clearfix:before {
    content: "";
    display: table; }
.nx--clearfix:after {
    clear: both; }

.nx--nullify-button, .nx-button {
    /*
    background: none;
    border-radius: 0;
    border: none;
    */
    cursor: pointer; }

.nx-button {
    display: block;
    padding: 20px 60px !important;
    /*
    background-color: #00417f !important;
    font-family: "Roboto", "Segoe UI", "Arial" !important;
    */
    background-color: gray !important;
    color: #ffffff !important;
    font-family: "Segoe UI", "Arial" !important;
    font-size: 36px !important;
    line-height: 1.5 !important;
    text-align: center !important;
    text-transform: uppercase; }
.nx-button--centered {
    margin: 8px auto !important; }

.nx-header {
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    /*
    background: #f6f7f7;
    */
    z-index: 100; }
.nx-header .nx-header__top-bar {
    /*
    */
    width: 100%;
    height: 111px;
    position: relative;
    background-color: transparent;
}
.nx-header .nx-header__top-bar .nx-header__logo-left {
    float: left;
    margin-left: 40px;
    margin-top: 20px; }
.nx-header .nx-header__top-bar .nx-header__logo-left svg {
    height: 70px; }
.nx-header .nx-header__top-bar .nx-header__logo-right {
    float: right;
    margin-right: 40px;
    margin-top: 20px; }
.nx-header .nx-header__top-bar .nx-header__logo-right svg {
    height: 80px; }
.nx-header .nx-header__content {
    position: relative;
    width: 50%;
    top: 111px; }
.nx-header .nx-header__content .id-field {
    display: none; }
.nx-header .nx-header__content .date-field {
    display: none; }
.nx-header .nx-header__button {
    margin-top: 24px; }

.nx-cancel {
    position: absolute;
    right: 40px;
    top: 30px;
    background-color: transparent !important;
    font-family: "Segoe UI", "Arial" !important;
}
.nx-cancel span {
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    padding-right: 20px;
    text-align: right;
    color: #00417f;
    display: inline-block; }
.nx-cancel svg {
    display: inline-block;
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.nx-forward {
    position: absolute;
    right: 40px;
    top: 150px;
    background-color: transparent !important;
    font-family: "Segoe UI", "Arial" !important;
}
.nx-forward span {
    font-size: 24px;
    font-weight: 300;
    line-height: 80px;
    text-align: right;
    color: #00417f;
    display: inline-block; }
.nx-forward svg {
    display: inline-block;
    float: right;
    width: 80px;
    height: 80px; }


.nx-nav-back {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 150px;
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0 !important;
}
.nx-nav-back .navigate {
    margin-left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.nx-nav-back .navigate-image-bkg {
    position: relative;
    left: 0;
    top: 0;
    opacity: 0.5;
    transition: opacity 200ms;
}
.nx-nav-back:hover .navigate-image-bkg {
    opacity: 0.7;
}
.nx-nav-back:active .navigate-image-bkg {
    opacity: 0.9;
}
.nx-nav-back .navigate-image {
    position: relative;
    left: 0px;
    top: -95px;
}
.nx-nav-back span {
    font-size: 24px;
    text-align: center;
    color: #00417f;
    display: inline-block;
    float: left;
    width: 100%;
}

.nx-title {
    margin:auto;
    font-size: 36px;
    font-family: "Segoe UI", "Arial" !important;
    line-height: 1;
    text-align: center; }

.nx-title--bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.nx-subtitle {
    font-size: 36px;
}

.nx-title--bold {
    font-family: "Segoe WP Black", "Arial" !important;
    font-weight: bold;
    /*
    font-weight: 900 !important;
    */
}

.nx-title--upper {
    text-transform: uppercase;
}

.nx-title_black {
    /*
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top:25px;
    */
    font-family: "Segoe WP Semibold", "Arial" !important;
    font-weight: 600;
    color: #000000; 
    margin-top: 35px;
    display: block; }

.nx-title_gray {
    /* 
    margin-top: 35px;
    margin-bottom: 20px;
    color: #767676;
    */
    color: gray;
    margin-top: 5px; }

.nx-title_color {
    /* 
    margin-top: 35px;
    margin-bottom: 20px;
    color: #767676;
    */
    color: #000000;
    margin-top: 5px; }

.nx-proitem .nx-proitem__title {
    color: #00417f;
}
.nx-proitem .nx-proitem__img-container .nx-proitem__preload-bg-color {
    background-color: #767676;
    opacity: 1;
    transition: opacity 100ms;
}
.nx-proitem .nx-proitem__overlay {
    background-color: #00417f;
}