#barcodeScreen .barcode-image {
<<<<<<< HEAD
    margin: 0 auto;
    margin-top: 380px; }
=======
    margin: 0 auto; }
>>>>>>> origin/master
#barcodeScreen .barcode-image svg {
    margin: 0 auto;
    display: block;
    margin-top: 264px; }

#barcodeScreen .barcode-text {
    margin: 0 auto;
    margin-top: 60px;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    color: #000000; }

#barcodeScreen .barcode-arrow-image {
    margin: 0 auto;
    margin-top: 30px; }
#barcodeScreen .barcode-arrow-image svg {
    margin: 0 auto;
    margin-left: calc(100% -20px);
    display: block; }
