#barcodeScreen .barcode-image {
    margin: 0 auto;
    margin-top: 60px; }
#barcodeScreen .barcode-image svg {
    width: 326px;
    height: 519px;
    margin: 0 auto;
    display: block; }

#barcodeScreen .barcode-text {
    margin: 0 auto;
    margin-top: 60px;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    color: #000000; }

#barcodeScreen .barcode-arrow-image {
    margin: 0 auto;
    margin-top: 30px; }
#barcodeScreen .barcode-arrow-image svg {
    width: 41px;
    height: 62px;
    margin: 0 auto;
    display: block; }

#barcodeScreen .progress {
    margin-top: 30px; 
    margin-left: calc(50% - 200px);
    width: 400px;
}
#barcodeScreen .progress-status {
    width: 400px;
    font-size: 10px;
    font-weight: 200;
    line-height: 1.167;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.4;
    padding: 0;
}

#barcodeScreen .progress-status .status-field {
    float: left;
    min-width: 50px;
    max-width: 400px;
    margin: 0;
    padding: 0;
}

