#barcodeScreen .list-header {
    height: 210px;
    overflow: hidden; }

#barcodeScreen .list-header .nx-button {
    margin-top: 31px !important;
    /* padding: 10px 60px !important; */
    font-size: 24px !important;
    display: inline-block;
}

#barcodeScreen .list-header .nx-forward {
    top: 88px;
}


#barcodeScreen .barcode-image {
     }
.barcode-image svg {
    width: 326px;
    height: 519px;
    margin: 25px auto;
    display: block; }

.barcode-text {
    margin: 10px auto;
 }

.barcode-arrow-image {
    
}
.barcode-arrow-image svg {
    width: 41px;
    height: 62px;
    margin: 0 auto;
    display: block; }

#barcodeScreen .progress {
    margin-top: 30px; 
    margin-left: calc(50% - 200px);
    width: 400px;
}
#barcodeScreen .progress-status {
    width: 400px;
    font-size: 10px;
    font-weight: 200;
    line-height: 1.167;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.4;
    padding: 0;
}
#barcodeScreen .progress-status .status-field {
    float: left;
    min-width: 50px;
    max-width: 400px;
    margin: 0;
    padding: 0;
}

