/*
    styles for productlist page
*/

.productlist .list-header {
    height: 210px;
    overflow: hidden; }

.productlist .list-header .nx-forward {
    top: 88px;
}
.productlist .list-header .nx-button {
    margin-top: 31px !important;
    padding: 10px 60px !important;
    font-size: 24px !important;
    display: inline-block;
}

#sezoom {
    width: 1920px;
    height: 862px;
}
#productlist .listview {
    width: 1920px;
    height: 862px;
}
#productgroups .listview {
    width: 1920px;
    height: 862px;
}

#productlist .win-itemscontainer {
    padding-left: 30px; }

#productlist * {
    border: none !important; }
#productlist *:after, #productlist *:before {
    border: none !important; }

#productlist .win-selectioncheckmark {
    display: none;
    background: transparent;
    visibility: hidden; }

#productlist .win-selectionbackground {
    display: none;
    background: transparent;
    visibility: hidden; }

#productlist .win-selectioncheckmarkbackground {
    display: none;
    background: transparent;
    visibility: hidden; }

#productlist .win-container {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

#productlist .win-surface {
    margin-left: 0; }

#productlist .win-itembox:after {
    display: none;
    visibility: hidden; }

#productlist .win-listview .win-itembox {
    background-color: transparent; }

#productlist .win-itemcontainer .win-itembox {
    background-color: transparent; }

#productlist .nx-header .nx-header__content .nx-header__title_black {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px; }

#productlist .nx-button {
    background-color: transparent !important;
    display: inline;
}

.productlist .nx-title_black {
    margin-top: 70px; }

.productlist .nx-title_gray {
    margin-top: 30px; }

#productlist .win-groupheadercontainer {
    /*margin-top: 30px;*/
}
#productlist .win-groupheader {
    width: 100%;
    /*
    padding-top: 0;
    padding-bottom: 0;
    */
}

.products-group-item {
    width: 615px;
    height: 180px;
    display: flex;
    align-items: center;
    font-family: "Segoe UI", "Arial" !important;
    font-size: 36px !important;
    line-height: 1.5 !important;
}

.products-group-item .nx-proitem__title {
    width: 100%;
    text-align: center;
}

.products-group-header {
    width: 100%;
    margin: 10px 28px;
    text-align: center;
    font-family: "Segoe UI", "Arial" !important;
    font-size: 36px !important;
    line-height: 1.5 !important;
}
.products-group-header .nx-button {
    width: 100%;
}

.product-group-button {
    padding: 10px 60px !important;
    /*
    background-color: #00417f !important;
    font-family: "Roboto", "Segoe UI", "Arial" !important;
    */
    background-color: transparent !important;
    font-family: "Segoe UI", "Arial" !important;
    font-size: 36px !important;
    line-height: 1.5 !important;
    text-align: center !important; }


.nx-proitem {
    position: relative;
    margin: 10px 10px;
    font-family: "Segoe UI", "Arial" !important; }
.nx-proitem .nx-proitem__img-container {
    width: 445px;
    height: 250px;
    position: relative;
    overflow: hidden; }
.nx-proitem .nx-proitem__img-container .nx-proitem__preload-bg-color {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    }
.nx-proitem .nx-proitem__img-container img {
    width: 100%;
     }
.nx-proitem .nx-proitem__title {
    text-align: center;
    padding: 20px 15px;
    /*
    white-space: nowrap;
    line-height: 1.44;
    */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    line-height: 1.1;
    min-height: 60px;
     }
.nx-proitem .nx-proitem__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 200ms; }
.nx-proitem .nx-proitem__overlay svg {
    position: absolute;
    width: 136px;
    height: 136px;
    object-fit: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    fill: #ffffff;
    color: #ffffff; }
.nx-proitem__overlay_disabled {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #ffffff;
    transition: opacity 200ms; }
.win-nonselectable .nx-proitem__overlay_disabled {
    opacity: 0.7; }

.win-selected .nx-proitem .nx-proitem__overlay {
    opacity: 0.5; }
