/*
    styles for productlist page
*/
#productlist .win-itemscontainer {
    padding-left: 30px;
    margin-top: 264px; }

#productlist * {
    border: none !important; }
#productlist *:after, #productlist *:before {
    border: none !important; }

#productlist .win-selectioncheckmark {
    display: none;
    background: transparent;
    visibility: hidden; }

#productlist .win-selectionbackground {
    display: none;
    background: transparent;
    visibility: hidden; }

#productlist .win-selectioncheckmarkbackground {
    display: none;
    background: transparent;
    visibility: hidden; }

#productlist .win-container {
    padding: 0;
    margin: 0; }

#productlist .win-surface {
    margin-left: 0; }

#productlist .win-itembox:after {
    display: none;
    visibility: hidden; }

#productlist .listview {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%; }
#productlist .listview .win-itembox {
    background-color: transparent; }

#productlist .win-itemcontainer .win-itembox {
    background-color: transparent; }

#productlist .nx-header .nx-header__content {
    padding-top: 65px; }
#productlist .nx-header .nx-header__content .nx-header__title_black {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    color: #000000;
    margin: 0 auto; }

.nx-proitem {
    position: relative;
    margin: 20px 10px;
    width: 445px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1); }
.nx-proitem .nx-proitem__img-container {
    width: 445px;
    height: 250px;
    position: relative;
    overflow: hidden; }
.nx-proitem .nx-proitem__img-container .nx-proitem__preload-bg-color {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #767676 !important; }
.nx-proitem .nx-proitem__img-container img {
    width: 100%; }
.nx-proitem .nx-proitem__title {
    color: #00417f;
    text-align: center;
    padding: 20px 15px;
    box-shadow: inset 0 1px 0 0 #d7d7d7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    line-height: 1.44; }
.nx-proitem .nx-proitem__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #00417f;
    transition: opacity 200ms; }
.nx-proitem .nx-proitem__overlay svg {
    position: absolute;
    width: 136px;
    height: 136px;
    object-fit: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    fill: #ffffff;
    color: #ffffff; }

.win-selected .nx-proitem .nx-proitem__overlay {
    opacity: 0.6; }
