/*
    styles for languagelist page
*/
.languagelist .organizer-image {
    position: absolute;
    left: 0;
    top: 178px;
    width: 100%;
    height: auto;
}

.languagelist .list-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.languagelist .nx-title {
    margin-top: 320px;
}
.languagelist .list-header .nx-title_color {
    color: white;
    text-align: left;
    padding-left: 80px;
    font-size: 180px;
}
.languagelist .list-header .nx-title_black {
    /*
    color: white;
    */
    position: absolute;
    left: 0;
    top: 35px;
    text-align: right;
    width: calc(100% - 680px);
}

.languagelist .list-header .nx-button--centered {
    /*
    margin: 40px auto !important;
    */
    position: absolute;
    top: 0;
    right: 20px;
    width: 120px;
    height: 120px;
}

.action-continue {
    font-family: "Segoe UI Symbol";
    font-size: 80px;
}
.action-continue::before {
    content: "\E0AC";
}
.action-continue:hover::before {
    content: "\E0AF";
}


#languagelist .win-container {
    margin-right: 30px;
    /* 4 x language

    margin-left: calc(12.5% - 78px) !important;
    margin-right: calc(12.5% - 78px) !important;
    */
    /* 2 x language

    margin-left: calc(25% - 78px) !important;
    margin-right: calc(25% - 78px) !important;
    */
}
#languagelist .win-itemcontainer,
#languagelist .win-itembox {
    background-color: transparent !important;
}

#languagelist.listview {
    position: absolute !important;
    right: 50px;
    top: 10px;
    width: 420px;
    height: 140px;
    /*
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    */
}

/* Styles used for the custom layout */
.listView .languagelistLayout {
    position: static;
}
 
 #languagelist .overlaid-item-template {
    /*
    background-image: url("/www/images/bkgtexture.png");
    */
    height: 90px;
    width: 150px;
    padding: 2px;
}

#languagelist .list-image {
    height: 90px;
    width: 150px;
}

