/*
    styles for languagelist page
*/


#languagelist .nx-button--centered {
    margin: 40px auto !important;
}

#languagelist .win-container {
    margin-left: calc(12.5% - 78px) !important;
    margin-right: calc(12.5% - 78px) !important;
}
#languagelist .win-itemcontainer,
#languagelist .win-itembox {
    background-color: transparent !important;
}

#languagelist .listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Styles used for the custom layout */
.listView .languagelistLayout {
    position: static;
}
 
 #languagelist .overlaid-item-template {
    /*
    background-image: url("/www/images/bkgtexture.png");
    */
    height: 90px;
    width: 150px;
    padding: 2px;
}

#languagelist .list-image {
    height: 90px;
    width: 150px;
}

