/*
    styles for languagelist page
*/
.languagelist .organizer-image {
    position: absolute;
    left: 0;
    top: 178px;
    width: 100%;
    height: auto;
}

.languagelist .list-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.languagelist .organizer-image {
    position: absolute;
    left: 0;
    top: 178px;
    width: 100%;
    height: auto;
}

.languagelist-button {
    width: 500px;
    height: 500px;
    background-color: transparent !important;
}
.languagelist-navigate-container{
    margin-top: 30px;
}
.languagelist-navigate {
    display: block;
    position: relative;
}
.languagelist-navigate-text-container {
    top: 330px;
}
.languagelist-navigate-text {
    font-size: 48px;
    transition: color 100ms;
}
.nx-button:active .languagelist-navigate-text {
    color: #000000;
}
.languagelist-navigate-image-container {
    left: -80px;
    top: -80px;
}
.languagelist-navigate-image {
    margin-left: 16px;
    margin-top: 110px;
}

.languagelist-navigate-image-black-container {
    left: -64px;
    top: -604px;
    width: 400px;
    height: 308px;
    overflow: hidden;
}
.languagelist-navigate-image-black {
    opacity: 0.1;
    transition: opacity 200ms;
}
.nx-button:active .languagelist-navigate-image-black {
    opacity: 1;
}

.languagelist-navigate-image-color-container {
    left: -64px;
    top: -802px;
}
.languagelist-navigate-image-color {
}

#languagelist .win-container {
    margin-right: 30px;
    /* 4 x language

    margin-left: calc(12.5% - 78px) !important;
    margin-right: calc(12.5% - 78px) !important;
    */
    /* 2 x language

    margin-left: calc(25% - 78px) !important;
    margin-right: calc(25% - 78px) !important;
    */
}
#languagelist .win-itemcontainer,
#languagelist .win-itembox {
    background-color: transparent !important;
}

#languagelist.listview {
    position: absolute !important;
    right: 0px;
    top: 10px;
    width: 420px;
    height: 140px;
    /*
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    */
}

/* Styles used for the custom layout */
.listView .languagelistLayout {
    position: static;
}
 
 #languagelist .overlaid-item-template {
    /*
    background-image: url("/www/images/bkgtexture.png");
    */
    height: 90px;
    width: 150px;
    padding: 2px;
}

#languagelist .list-image {
    height: 90px;
    width: 150px;
}


.languagelist-image {
    display: block;
    margin: 20px auto;
}
.languagelist .nx-title--bottom {
    margin-bottom: 30px;
}