.failed-image {
    
}
.failed-image svg {
    width: 260px;
    height: 260px;
    margin: 100px auto;
    display: block; }

.failed-text {
    margin: 100px auto;
 }
.failed .nx-title_black {
    margin-top: 70px; 
    font-size: 36px;
}

